<head>
    <link href="~/Content/IndexStyleSheet.css" type="text/css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Anton|Francois+One|Oswald" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet">

</head>
@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h1>Carrie's Closet</h1>
    <h2>Keep your clothes organized!</h2>
</div>

<div class="row">
    <div class="col-md-6">
        <p><a class="btn btn-block btn-lg" href="~/Tops/Index">Tops</a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-block btn-lg" href="~/Bottoms/Index">Bottoms</a></p>
    </div>
</div>
<div class="row">    
    <div class="col-md-6">
        <p><a class="btn btn-block btn-lg" href="~/Shoes/Index">Shoes</a></p>
    </div>
    <div class="col-md-6">
        <p><a class="btn btn-block btn-lg" href="~/Accessories/Index">Accessories</a></p>
    </div>
</div>
